:root {
  --main-bg-color: #fcf5eb; /*#F4F4F9;*/
  --best-color: #3288bd;
  --main-color: #40434E;
  --off-color: #1C6E8C;
  --globe-water-color: #F0F0E0; /*#F4F4F9;*/
  --globe-grid-color: #40434E;
  --country-outline-color: #40434E;
  --scatter-trendline-color: #40434E;
  --border-status: none;
  --main-font:'Spectral', serif;
}

html{
  padding:0;
  margin: 0;
  height:100%;
}

body {
    padding-left:20px;
    padding-right:20px;
    margin: 0;
    height:100%;
    min-height: 100%;
    width: 100%;
    font-family: 'Spectral', serif;
    font-size: 1em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: var(--main-bg-color);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    background-image: -webkit-linear-gradient(white 2px, transparent 2px),
                      -webkit-linear-gradient(0, white 2px, transparent 2px),
                      -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                      -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
    background-image: -moz-linear-gradient(white 2px, transparent 2px),
                      -moz-linear-gradient(0, white 2px, transparent 2px),
                      -moz-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                      -moz-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
    background-image: linear-gradient(white 2px, transparent 2px),
                      linear-gradient(90deg, white 2px, transparent 2px),
                      linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    -pie-background: linear-gradient(white 2px, transparent 2px) -2px -2px / 100px,
                     linear-gradient(90deg, white 2px, transparent 2px) -2px -2px / 100px,
                     linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
                     linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
                     #269;
    behavior: url(/pie/PIE.htc);
}


div.wrapper {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    max-width: 1280px;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    outline-style: var(--border-status);
    outline-color: orange;
    box-shadow: 0 0 15px 25px var(--main-bg-color);
    overflow: visible;
}


a:link {
    text-decoration: none;
    color: var(--off-color);
}

a:visited {
    text-decoration: none;
        color: var(--off-color);
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Spectral', serif;
    font-size: 2.5em;
    /*color: var(--best-color);*/
    line-height: 100%;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Spectral', serif;
    font-size: 1.6em;
    /*color: var(--best-color);*/
}

h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Spectral', serif;
    font-size: 1.0em;
    /*color: var(--best-color);*/
}


p {
    font-family: 'Spectral', serif;
    font-size: 1.0em;
    color: var(--main-color);
    margin-top: 0px;
}

.legend {
    font-family: var(--main-font);
    fill: var(--main-color);
    font-size: 12px !important;
    font-weight: 300;
    fill: #242424;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
}
            
.tooltip {
    font-family: var(--main-font);
    /*fill: #333333;*/
    font-size: 14px;
    font-weight: 300;
    /*fill: #242424;*/
    text-align: center;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
    overflow: visible;
}

.axis text {
    font-family: var(--main-font);
    font-size: 12px;
    color: var(--main-color);
}



div.infoTextDiv {
    clear: both;
    font-size: 1.0em;
    height: 100%;
    background-color: var(--main-bg-color);
    outline-style: var(--border-status);
    outline-color: yellow;
    color: var(--main-color);
}

div.topRow {
    margin-left:0px;
    margin-right: 0px;
    margin-top: 0px;
    /*width: 100%;*/
    height: 80px;
    clear:both;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    outline-style: var(--border-status);
    outline-color: red;
}


div.bottomRow {
    margin-top: 0px;
    width: 100%;
    /*height: 50px;*/
    clear:both;
    outline-style: var(--border-status);
    outline-color: red;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}


div.leftTopRow {
    line-height: 90%;
    width:50%;
    float:left;
    height: 60px;
    outline-style: var(--border-status);
    outline-color: pink;
}

div.rightTopRow {
    width:50%;
    float:right;
    height: 60px;
    outline-style: var(--border-status);
    outline-color: grey;
    line-height: 90%;
}


/* for small screens */
@media all and (max-width: 890px), (orientation: portrait) {
div.leftDiv {
    width:100%;
    outline-style: var(--border-status);
    outline-color: blue;
    overflow:visible;
    position:relative;
}
div.rightDiv {
    width:100%;
    outline-style: var(--border-status);
    outline-color: grey;
    overflow:visible;
}
}

/* for big screens */
@media all and (min-width: 800px), (orientation: landscape) {
div.rightDiv {
    /*max-width:0px;*/
    /*max-width:1680px;*/
    width:50%;
    float: left;
    /*: 100%;*/
    background-color: var(--main-bg-color);
    outline-style: var(--border-status);
    outline-color: green;
    overflow:visible;
}
div.leftDiv {
    width: 50%;
    float: left;
    background-color: var(--main-bg-color);
    outline-style: var(--border-status);
    outline-color: cyan;
    overflow:visible;
    position:relative;
}
}

.radarButtons {
    margin-left: 15px;

}

.scatterButtons {
    margin-left: 25px;

}

.modeSelectors {
    margin-top: 5px;
    margin-left: 15px;
}


path {
    fill: none;
    stroke: var(--main-color);
}

.axis line {
    fill: none;
    stroke: var(--main-color);
    shape-rendering: auto;
    color: var(--main-color);
}

.colorAxis line{
    stroke: var(--main-color);
}

.scatterAxis line{
    stroke: var(--main-color);
}

.scatterAxis path{
    stroke: var(--main-color);
}

.scatterAxis {
    color: var(--main-color);
    fill: var(--main-color);
}  

/*.axis text {
    font-family: var(--main-font);
    font-size: 21px
    color: var(--main-color);
}*/
   
.background {
    fill: var(--globe-water-color);
    stroke-width: .8px;
    stroke: none;
}

.graticule {
    stroke: var(--globe-grid-color);
    stroke-width: .5px;
}

.country {
    cursor: pointer;
}

.country .land {
    stroke: var(--country-outline-color);
    stroke-width: .5px;
}

.trend {
    opacity: .6;
    stroke: var(--scatter-trendline-color);
    stroke-width:10px;
    stroke-linecap: round;
}

#share-buttons img{
    padding-top: 0px;
    padding-bottom: 10px;
    padding: 10px;
    align-self: center;
    border: none;
    position: absolute;
    display: inline;
    -webkit-transition: width .4s, height .4s, margin-left .4s, margin-top .4s;
    transition: width .4s, height .4s, margin-left .4s, margin-top .4s;
}

#l1 img {
    width: 40px;
    height: 40px;
    margin-left: -120px;
 }
 
 #l2 img {
    width: 40px;
    height: 40px;
    margin-left: -40px;
 }


#l3 img {
    width: 40px;
    height: 40px;
    margin-left: 40px;
 }


 #l4 img {
    width: 40px;
    height: 40px;
    margin-left: 120px;
 }

#l1 img:hover {
    width: 50px;
    height: 50px;
    margin-left: -125px;
    margin-top: -5px;
}

#l2 img:hover {
    width: 50px;
    height: 50px;
    margin-left: -45px;
    margin-top: -5px;
}


#l3 img:hover {
    width: 50px;
    height: 50px;
    margin-left: 35px;
    margin-top: -5px;
}

#l4 img:hover {
    width: 50px;
    height: 50px;
    margin-left: 115px;
    margin-top: -5px;
}